include src/watchful/VERSION
include README_PYPI.md
include README_PY_ENV.md
include pylama.ini
include examples/README.md
include examples/requirements_api_intro.txt
include examples/api_intro.ipynb
include examples/enrichment_intro.ipynb
global-exclude ______*
