include src/watchful/VERSION
include README_PYPI.md
include README_PY_ENV.md
include pylama.ini
include examples/requirements_api_intro.txt
include examples/api_intro.ipynb
exclude src/watchful/enrich_utils.py
exclude src/watchful/hub.py
global-exclude ______*
