appnope==0.1.0
backcall==0.2.0
blis==0.7.4
catalogue==2.0.6
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
cymem==2.0.5
decorator==4.4.2
idna==3.2
importlib-metadata==4.8.1
ipykernel==5.3.4
ipython==7.31.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==3.0.1
jupyter-client==6.1.7
jupyter-core==4.6.3
MarkupSafe==2.0.1
murmurhash==1.0.5
numpy==1.22.0
packaging==21.0
parso==0.7.1
pathy==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
preshed==3.0.5
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pydantic==1.8.2
Pygments==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pyzmq==19.0.2
requests==2.26.0
smart-open==5.2.1
spacy-legacy==3.0.8
srsly==2.4.1
thinc==8.0.10
tqdm==4.62.3
traitlets==5.0.5
typer==0.4.0
typing-extensions==3.10.0.2
urllib3==1.26.7
wasabi==0.8.2
wcwidth==0.2.5
zipp==3.5.1
flair==0.11.3
psutil==5.8.0
spacy==3.1.3
spacytextblob==4.0.0
